
@{
    ViewBag.Title = "Index";
}
<script>$("#container").attr('class', '');</script>
<link href="~/Content/index.css" rel="stylesheet" />
<img src="~/logoFolder/banner.jpg" class="imgBanner" />
<div class="container">
    <div class="text">
        <h1>EliteBooker<br> Najlepsza Księgarnia Online</h1>
        <p>
            Szukasz książki w dobrej cenie?
            <br />
            Nie masz co robić w wolnych chwilach?
            <br />
            Dzięki naszym książkom spędzisz TYLKO dobre Chwile!
        </p>
        <div class="button_section"> <a class="main_bt" href="/book">Sprawdź Naszą ofertę!</a>  </div>

    </div>
</div>