.card {
    width: 444px
}

body {
    background: #ddd;
}
.details {
    background: white;
    margin-top:2%;
    padding:20px;
    padding-top:40px;
    width:50%;
}
.btn2 {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0
}

.btn2:focus {
        outline: none;
        color: white;
        transition: none
    }

.btn2:hover {
        color: white
    }